td {
    border: 1px solid black;
    background-color: #FFFFFF;
}

.regular-price-column {
    background-color: #d2bebe;
}
.silver-price-column {
    background-color: #a4c4ff;
}
.gold-price-column {
    background-color: #ffeea1;
}
.regular-price-column-row {
    background-color: #ffe6e6;
}
.silver-price-column-row {
    background-color: #cedfff;
}
.gold-price-column-row {
    background-color: #fff5cf;
}
.purchase-price-column {
    background-color: #bed2ca;
}
.purchase-price-column-row {
    background-color: #e9ffe6;
}
body {
    background-color: #fff9ec;
}
/*D3CEC1FF*/
* {
    font-family: Roboto, sans-serif;
}

h1 {
    margin-bottom: -0.4em;
}
h4 {
    margin-top: -0.2em;
    margin-bottom: 0;
}

.controls {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 10px;
}
hr {
    border: 0;
    height: 1px;
    background-color: #000000;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}