td {
    border: 1px solid black;
    background-color: #FFFFFF;
}

.regular-price-column {
    background-color: #d2bebe;
}
.silver-price-column {
    background-color: #a4c4ff;
}
.gold-price-column {
    background-color: #ffeea1;
}
.regular-price-column-row {
    background-color: #ffe6e6;
}
.silver-price-column-row {
    background-color: #cedfff;
}
.gold-price-column-row {
    background-color: #fff5cf;
}
.iridium-price-column {
    background-color: #d0a4ff;
}
.iridium-price-column-row {
    background-color: #f0e5ff;
}
.purchase-price-column {
    background-color: #bed2ca;
}
.purchase-price-column-row {
    background-color: #e9ffe6;
}

.spring-column-row {
    background-color: #e5ffe5;
}
.summer-column-row {
    background-color: #ffe9ca;
}
.fall-column-row {
    background-color: #ffe5ff;
}
.winter-column-row {
    background-color: #bcdcff;
}
.spring-column {
    background-color: #b0ffb0;
}
.summer-column {
    background-color: #ffd797;
}
.fall-column {
    background-color: #ffbbff;
}
.winter-column {
    background-color: #9dcbff;
}


body {
    background-color: #fff9ec;
}

@font-face {
    font-family: Noto Sans;
}
* {
    font-family: Noto Sans, sans-serif;
}

h1 {
    margin-bottom: -0.4em;
}
h4 {
    margin-bottom: 0;
}

.controls {
    horiz-align: left;
    margin-bottom: 0.5em;
}
hr {
    border: 0;
    height: 1px;
    background-color: #000000;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}


.tab {
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: -1em;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    transition: 0.3s;

    font-weight: 800;
    text-align: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    animation: slideInFromBottom 0.3s;

}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*Slide in from bottom*/
@keyframes slideInFromBottom {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

img {
    image-rendering: pixelated;
    /*image-rendering: crisp-edges;*/
}

.small-text {
    font-size: 0.8em;
}

.search-box {
    margin-top: 0.5em;
}

.contact-links {
    margin-top: -0.1em;
    margin-bottom: 0.1em;
}